body {
    background-image: url("../images/marble-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

/* In case you need Google fonts, 

font-family: 'Press Start 2P', cursive;

*/

h1 {
   padding-top: 10px;
}

.winLoss {
    height: 150px;
} 

.gems{
    justify-content: center;
    margin: 10px;
}

.gem-image {
    height: 150px;
}

.userTotals {
    width: 500px;
}